http:
  routers:
    {{ sh_backend_hostname }}:
      rule: "HostRegexp(`{{ sh_backend_hostname_personal_fqdn }}`, `{subdomain}.{{ sh_backend_hostname_personal_fqdn }}`)"
      entryPoints:
        - 'websecure'
      service: '{{ sh_backend_hostname }}'
      priority: 10
      tls:
        certResolver: '{{ sh_letsencrypt_personal_domain_resolver_name }}'
        domains:
          - main: '{{ sh_backend_hostname_personal_fqdn }}'
            sans:
              - '*.{{ sh_backend_hostname_personal_fqdn }}'
{% for sh_additional_backend in sh_backend_additional_backends %}
    {{ sh_backend_hostname }}_{{ sh_additional_backend.name }}:
      rule: "HostRegexp(`{{ sh_additional_backend.name }}.{{ sh_backend_hostname_personal_fqdn }}`, `{subdomain}.{{ sh_additional_backend.name }}.{{ sh_backend_hostname_personal_fqdn }}`)"
      entryPoints:
        - 'websecure'
      service: '{{ sh_backend_hostname }}_{{ sh_additional_backend.name }}'
      priority: {{ sh_additional_backend.priority | default(20) }}
      tls:
        certResolver: '{{ sh_letsencrypt_personal_domain_resolver_name }}'
        domains:
          - main: '{{ sh_additional_backend.name }}.{{ sh_backend_hostname_personal_fqdn }}'
            sans:
              - '*.{{ sh_additional_backend.name }}.{{ sh_backend_hostname_personal_fqdn }}'
{% endfor %}
  services:
    {{ sh_backend_hostname }}:
      loadBalancer:
        servers:
          - url: '{{ sh_backend_hostname_server_url }}'
{% for sh_additional_backend in sh_backend_additional_backends %}
    {{ sh_backend_hostname }}_{{ sh_additional_backend.name }}:
      loadBalancer:
        servers:
          - url: '{{ sh_additional_backend.url }}'
{% endfor %}
